name: Generate Snake Animation

on:
  schedule:
    - cron: "0 0 * * *" # Executa todos os dias à meia-noite
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: alex-coder27
          outputs: |
            ./output/github-contribution-grid-snake.svg
            ./output/github-contribution-grid-snake.gif
          # ⬇️ ADICIONE ESTAS DUAS LINHAS ⬇️
          transparent: true
          # ⬆️ FIM DAS LINHAS ADICIONADAS ⬆️

      - uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: output
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
